@model MinkyShop.Models.Nhacungcap
@{
    ViewData["Title"] = "Thêm mới nhà cung cấp";
    Layout = "_LayoutAdmin";
}

<h2>THÊM MỚI NHÀ CUNG CẤP</h2>
<form asp-action="Themmoinhacungcap" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TenNcc" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="TenNcc" class="form-control" />
                <span asp-validation-for="TenNcc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Diachi" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DienThoai" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index" class="btn btn-default">Trở về trang quản lý</a>
</div>
