@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                Home
                            </a>
                        </li>
                        <li>
                            Blog
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-category-area blog-grid mb-40px main-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                <div class="row mb-50px">
                    <div class="row mb-50px">
                        <div class="col-lg-5 col-md-6">
                            <div class="single-blog-post blog-list-post">
                                <div class="blog-post-media">
                                    <div class="blog-post-audio">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6 align-self-center align-items-center">
                            <div class="blog-post-content-inner mt-lm-30px">
                                <h4 class="blog-title">
                                    <a href="#">
                                        Nhạc chill cho thú cưng
                                    </a>
                                </h4>
                                <ul class="blog-page-meta">
                                    <li>
                                        <a href="#">
                                            <i class="ion-person">
                                            </i>
                                            Phạm Ngọc Mạnh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-calendar">
                                            </i>
                                            27/03/2023
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-50px">
                    <div class="col-lg-5 col-md-6">
                        <div class="single-blog-post blog-list-post">
                            <div class="blog-post-media">
                                <div class="blog-gallery">
                                    <div class="gallery-item">
                                        <a href="#">
                                            <img src="~/assets/images/blog-image/2.jpg" alt="blog" />
                                        </a>
                                    </div>
                                    <div class="gallery-item">
                                        <a href="#">
                                            <img src="~/assets/images/blog-image/3.jpg" alt="blog" />
                                        </a>
                                    </div>
                                    <div class="gallery-item">
                                        <a href="#">
                                            <img src="~/assets/images/blog-image/4.jpg" alt="blog" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 align-self-center align-items-center">
                        <div class="blog-post-content-inner mt-lm-30px">
                            <h4 class="blog-title">
                                <a href="#">
                                    Bạn có biết?
                                </a>
                            </h4>
                            <ul class="blog-page-meta">
                                <li>
                                    <a href="#">
                                        <i class="ion-person">
                                        </i>
                                        Bùi Ngọc Khánh Vy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-calendar">
                                        </i>
                                        27/03/2023
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Bạn đang sở hữu và chăm nuôi Pet, họ còn đặt cho bạn một cái Nickname: "Sen". Điều đó đúng bởi lẽ chúng ta đích thị phải bỏ công sức và thời gian để phục dịch các "Boss" :))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-50px">
                    <div class="col-lg-5 col-md-6">
                        <div class="single-blog-post blog-list-post">
                            <div class="blog-post-media">
                                <div class="blog-post-audio">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/g9-ab69fovw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 align-self-center align-items-center">
                        <div class="blog-post-content-inner mt-lm-30px">
                            <h4 class="blog-title">
                                <a href="#">
                                    Khoảnh khắc đáng yêu thú cưng
                                </a>
                            </h4>
                            <ul class="blog-page-meta">
                                <li>
                                    <a href="#">
                                        <i class="ion-person">
                                        </i>
                                        Bùi Ngọc Khánh Vy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-calendar">
                                        </i>
                                        27/03/2023
                                    </a>
                                </li>
                            </ul>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-50px">
                    <div class="col-lg-5 col-md-6">
                        <div class="single-blog-post blog-list-post">
                            <div class="blog-post-media">
                                <div class="blog-post-video">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/clU8c2fpk2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 align-self-center align-items-center">
                        <div class="blog-post-content-inner mt-lm-30px">
                            <h4 class="blog-title">
                                <a href="#">
                                    Nghe nhạc thư giãn cho sen
                                </a>
                            </h4>
                            <ul class="blog-page-meta">
                                <li>
                                    <a href="#">
                                        <i class="ion-person">
                                        </i>
                                        Bùi Ngọc Khánh Vy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-calendar">
                                        </i>
                                        27/03/2023
                                    </a>
                                </li>
                            </ul>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mb-50px">
                    <div class="col-lg-5 col-md-6">
                        <div class="single-blog-post blog-list-post">
                            <div class="blog-post-media">
                                <div class="blog-image">
                                    <a href="#">
                                        <img class="img-responsive" src="~/assets/images/blog-image/3.jpg" alt="blog" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 align-self-center align-items-center">
                        <div class="blog-post-content-inner mt-lm-30px">
                            <h4 class="blog-title">
                                <a href="#">
                                    Cún yêu sợ ở nhà một mình, phải làm thế nào?
                                </a>
                            </h4>
                            <ul class="blog-page-meta">
                                <li>
                                    <a href="#">
                                        <i class="ion-person">
                                        </i>
                                        Phạm Ngọc Mạnh, Bùi Ngọc Khánh Vy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-calendar">
                                        </i>
                                        27/03/2023
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Cún cũng như con người, chúng đều cần có tình yêu thương của chủ đối với mình. Đặc biệt với nhiều loại cún, chúng còn có sự lo lắng, sợ hãi khi không có chủ ở bên cạnh, chúng sẽ cảm thấy cô đơn, có biểu hiện lạ và dần có trạng thái tinh thần giống như trầm cảm.
                            </p>
                            <a class="read-more-btn" href="#">
                                Read More
                                <i class="ion-android-arrow-dropright-circle">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mb-50px">
                    <div class="col-lg-5 col-md-6">
                        <div class="single-blog-post blog-list-post">
                            <div class="blog-post-media">
                                <div class="blog-image">
                                    <a href="#">
                                        <img class="img-responsive" src="~/assets/images/blog-image/4.jpg" alt="blog" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 align-self-center align-items-center">
                        <div class="blog-post-content-inner mt-lm-30px">
                            <h4 class="blog-title">
                                <a href="#">
                                    Cún cứ xin ăn hoài, phải làm gì để ngăn chặn?
                                </a>
                            </h4>
                            <ul class="blog-page-meta">
                                <li>
                                    <a href="#">
                                        <i class="ion-person">
                                        </i>
                                        Phạm Ngọc Mạnh, Bùi Ngọc Khánh Vy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-calendar">
                                        </i>
                                        27/03/2023
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Chó thường có thói quen xin ăn, mặc dù từ trước đó bạn đã cho nó ăn rồi. Cứ mỗi bữa cơm, chó cứ đến sủa ầm lên, đòi ăn thì quả là không hề vui chút nào đúng không, nhất là khi bạn đang có khách đến nhà hoặc đang trò chuyện với gia đình. Vậy làm sao để ngăn chặn hành vi xin ăn của chú chó?
                            </p>
                            <a class="read-more-btn" href="#">
                                Read More
                                <i class="ion-android-arrow-dropright-circle">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>