@{
    ViewData["Title"] = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dangnhap">
    <h5 style="color:red; text-align:center"> @ViewData["Thongbao"]</h5>
    <h4 style="text-align:center">ĐĂNG NHẬP</h4>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <table align="center">
            <tr>
                <td class="label">Tên đăng nhập:</td>
                <td class="input">
                    <input type="text" name="TenDN" />
                </td>
                <td class="error">
                    @ViewData["Loi1"]
                </td>
            </tr>
            <tr>
                <td class="label">Mật khẩu:</td>
                <td class="input">
                    <input type="password" name="Matkhau" />
                </td>
                <td class="error">
                    @ViewData["Loi2"]
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-lg btn-primary p-2">
            <i class="bi bi-file-plus-fill"></i>
            Đăng nhập
        </button>
    </form>
    <p style="text-align:center; margin-top: 20px;">
        <a asp-action="DangKy" asp-controller="Home">Bạn mới biết đến Minky? Đăng ký</a> | <a asp-action="ForgotPassword" asp-controller="Home">Quên mật khẩu</a>
    </p>
</div>

<style>
    .dangnhap {
        margin-top: 20px;
        text-align: center;
    }

    table {
        margin: 0 auto;
        width: 500px;
    }

    .label {
        width: 150px;
        padding-right: 10px;
        text-align: right;
    }

    .input {
        width: 250px;
    }

    .error {
        color: red;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>
