@{
    ViewBag.Title = "ThongTinCuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Breadcrumb Area-->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                Trang Chủ
                            </a>
                        </li>
                        <li>
                            Thông Tin Cửa Hàng
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Breadcrumb Area-->
<!--About Us Area-->
<section class="about-area pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-left-image mb-md-30px mb-lm-30px">
                    <img src="~/assets/images/slider-image/sample-6.jpg" alt="" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="about-title">
                        <h2>
                            XIN CHÀO
                        </h2>
                    </div>
                    <p class="mb-30px">
                        Rất nhiều nghiên cứu đã chỉ ra rằng: Những người nuôi thú cưng thường khỏe mạnh, chu đáo và hướng ngoại so với những người khác. Đó là lý do mà rất nhiều gia đình hiện nay đều nuôi một vài thú cưng để giúp không khí ra didnhf trở nên ấp cúng và vui nhộn hơn. Tuy nhiên, việc chọn được địa điểm mua đồ dùng, quần áo, thức ăn... cho thú cưng, chó mèo ở đâu vừa đảm bảo chất lượng mà giá cả hợp lý thì không phải dễ dàng.
                    </p>
                    <p>
                        Đáp ứng nhu cầu này, cửa hàng chúng tôi ra đời với sứ mệnh cung cấp tất cả các sản phẩm trọn gói dành cho thú cưng, chó mèo: từ thức ăn, quần áo, đồ dùng, thức ăn dinh dưỡng, đồ chơi, mỹ phẩm, nhà lồng chuồng nệm và linh phụ kiện khác... đến từ các nhà sản xuất uy tín trên thế giới như: Royal Canin, Davis, Virbac, PetAg, Fido's, Pedigree, PetCity, Kong, Sanicat, Ferplast, 8in1, ABC, CityZoo, Me-o, Catsan, Fido's, Fancy Feast, Pet Naturels, Nutri Source, O'Fresh, Natural Core...
                    </p>
                    <br />
                    <p>
                        Sứ mệnh của cửa hàng chúng tôi là phục vụ cho thú cưng của bạn luôn khỏe mạnh và đáng yêu, khiến cho khách hàng thật sự hài lòng với chất lượng sản phẩm và dịch vụ.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-50px">
            <div class="col-md-4 mb--lm-30px">
                <div class="single-about">
                    <h4>
                        Công Ty Của Chúng Tôi
                    </h4>
                    <p>
                        Với đội ngũ Chuyên Môn. Công ty của chúng tôi được biết đến lầ địa chỉ uy tín và chuyên nghiệp hàng đầu dành cho thú cưng. Mỗi nhân viên của cửa hàng đều là một người nuôi thú cưng sành sỏi, là một chuyên gia trong lĩnh vực chăm sóc thú cưng. Với đội ngũ bán hàng trẻ và đầy nhiệt huyết, khách hàng khi đến Petcity chắc chắn sẽ vô cùng hài lòng về chất lượng mặt hàng cũng như chất lượng dịch vụ tại đây.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-lm-30px">
                <div class="single-about">
                    <h4>
                        Hoạt Động Của Chúng Tôi
                    </h4>
                    <p>
                        Hàng tháng, cửa hàng chúng tôi đều tổ chức một ngày hội chăm sóc thú cưng với sự tham gia của các bệnh viện thú cưng và các tập đoàn fuy tín. Care Your Pet thường được tổ chức vào những ngày cuối tuần, đây là nơi động đồng những người nuôi thú cưng tham gia trao đổi, chia sẻ và trau dồi những kiến thức bổ ích về cách nuôi dạy thú cưng. Bên cạnh đó, Petcity còn tổ chức những buổi khám chữa bệnh miễn phí và tiêm vaccine giá gốc, nhằm phát triển một cộng đồng thú cưng khỏe mạnh và tràn ngập niềm vui.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-about">
                    <h4>
                        Lĩnh Vực
                    </h4>
                    <p>
                        - Trại cung cấp thức ăn cho chó mèo và các loại thú cưng thuần chủng khác.
                    </p>
                    <p>
                        - Spa & Grooming.
                    </p>
                    <p>
                        - Cung cấp phụ kiện, tư vấn nhân giống chó & mèo.
                    </p>
                </div>
            </div>
            <div class="brand-area pb-100px">
                <div class="container">
                    <div class="brand-slider slider-nav-style-1">
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/1.jpg" alt="" />
                            </a>
                        </div>
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/3.jpg" alt="" />
                            </a>
                        </div>
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/1.jpg" alt="" />
                            </a>
                        </div>
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/4.jpg" alt="" />
                            </a>
                        </div>
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/5.jpg" alt="" />
                            </a>
                        </div>
                        <div class="brand-slider-item">
                            <a href="#">
                                <img class="img-responsive" src="~/assets/images/brand-logo/6.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Us Area-->