@{
    var tongtien = ViewBag.Tongtien;
}
<div class="header-tools d-flex">
    <div class="cart-info d-flex align-self-center">
        <a title="cart" href="#offcanvas-cart" class="bag offcanvas-toggle">
            <i class="las la-baby-carriage">
            </i>
            <span class="item-total">
                <span>@String.Format("{0:0,0}", tongtien)</span>
            </span><span class="item-count">
                @ViewBag.Tongsoluong item(s)
            </span>
        </a>
    </div>
</div>